
html,body {
    background-color: #f8f8f8;
}

.banner {
    background-color: #5E2808;

    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    font-weight:bold;
    
    padding: 20px 20px 10px 20px;
}

.banner .circa {
    color: #BCEEF5;
}

.banner .tagline {
    color: #E4F5BC;
}

.left_bar {
    width: 200px;
    background-color: #BCEEF5;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

.left_bar p {
    margin: 0px 0px 0px 0px;
    padding: 3px 0px 3px 0px;
    color: #000;
    font-size: 15px;
}

.left_bar a {
    text-decoration: none;
    position: relative;
    left: 20px;
    font-size: 18px;
}    

.left_bar a:link, .left_bar a:visited, .left_bar a:hover, .left_bar a:active {
    
    color: #333;
}

.left_bar a:hover {
    color: #888;
}

.left_bar .divider {
    margin: 3px 3px 3px 3px;
    padding: 3px 3px 3px 3px;
    background-color: #fff;
}

.content {
    position: absolute;
    left: 240px;
    top: 80px;
    max-width:900px;

    color:#391F18;
    background-color:#EBFBDF;

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight:600;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;

    border-style: outset;
    border-width: 3px;
    border-color: #B4EB6F;
}

.content h1, .content h2, .content h3 {
    color:#5E2808;
    font-family: 'Hammersmith One', sans-serif;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.content h1 {
    background-color:#B4EB6F;
    color: #582113;
    padding: 5px 5px 0px 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 32px;
}

.content h2 {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 22px;
}
.content h3 {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.content p {
    margin: 5px 0px 5px 0px;
    padding: 5px 0px 5px 0px;
}

.content a:link, .content a:visited, .content a:active {
    color: #92432F;
}
.content a:hover {
    color: #BF2722;
}

.content pre {
    position: relative;
    left: 30px;
}

.article_credit {
    
    width: 100%;
    text-align: right;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
}

