
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>circa - {{ page.title }}</title>
   <meta name="author" content="{{ page.author }}" />


   <!-- Typekit -->
   <script type="text/javascript" src="http://use.typekit.com/nyw5vrp.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

   <!-- Google fonts -->
   <link href='http://fonts.googleapis.com/css?family=Arimo|Paytone+One|Open+Sans+Condensed:700|Open+Sans:600,300|Nunito:700|Hammersmith+One' rel='stylesheet' type='text/css'>

