
<div class="left_bar">
<p>Intro</p>
<p><a href="/">Introduction</a></p>
<p><a href="/docs">Documentation</a></p>
<p><a href="/about/philosophy.html">Philosophy</a></p>
<p><a href="/about/syntax.html">Syntax tour</a></p>
<p><a href="/about/examples.html">Examples</a></p>
<p><a href="/about/screencasts.html">Screencasts</a></p>
<p><a href="/about/download.html">Downloads</a></p>
<p>Articles</p>
<p><a href="inlined_state.html">On inlined state</a></p>
<p>Links</p>
<p><a href="https://github.com/paulhodge/circa">Source @ Github</a></p>
<p><a href="/about/live_coding_links.html">More live coding</a></p>

</div>
