---
---

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>circa - {{ page.title }}</title>
   <meta name="author" content="{{ page.author }}" />

   <link rel="stylesheet" href="/css/about.css" type="text/css" />

   <!-- Typekit -->
   <script type="text/javascript" src="http://use.typekit.com/nyw5vrp.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

   <!-- Google fonts -->
   <link href='http://fonts.googleapis.com/css?family=Arimo|Paytone+One|Open+Sans+Condensed:700|Open+Sans:600,300|Nunito:700,400|Alice|Hammersmith+One' rel='stylesheet' type='text/css'>

</head>
<body>

<div class="banner">
    <span class="circa">circa</span>
    <span class="tagline">A language for live coding</span>
</div>

<div class="left_bar">
<p><a href="/about/introduction.html">Introduction</a></p>
<p><a href="/about/philosophy.html">Philosophy</a></p>
<p><a href="/about/current_status.html">Current status</a></p>
<div class="divider"></div>
<p><a href="/about/syntax.html">Syntax guide</a></p>
<p><a href="/docs/api.html">API docs</a></p>
<p><a href="implicit_state.html">On inlined state</a></p>
<p><a href="feedback.html">On feedback</a></p>
<div class="divider"></div>
<p><a href="https://github.com/paulhodge/circa">Source code</a></p>

</div>

<div class="content">
{{ content }}
</div>

</body>
</html>
